firewall {
     all-ping enable
     broadcast-ping disable
     group {
         address-group SEATTLESNOWMAN_DROP {
            description "Seattle Snowman managed devices"
         }
     }
     ipv6-receive-redirects disable
     ipv6-src-route disable
     ip-src-route disable
     log-martians enable
     name WAN_IN {
         default-action drop
         description "WAN to internal"
         rule 10 {
             action accept
             description "Allow established/related"
             state {
                 established enable
                 related enable
             }
         }
         rule 20 {
             action drop
             description "Drop invalid state"
             state {
                 invalid enable
             }
         }
     }
     name WAN_LOCAL {
         default-action drop
         description "WAN to router"
         rule 10 {
             action accept
             description "Allow established/related"
             state {
                 established enable
                 related enable
             }
         }
         rule 20 {
             action drop
             description "Drop invalid state"
             state {
                 invalid enable
             }
         }
     }
     name WAN_OUT {
         default-action accept
         rule 1000 {
             action drop
             description "Limit group SEATTLESNOWMAN_DROP"
             source {
                 group {
                     address-group SEATTLESNOWMAN_DROP
                 }
             }
         }
     }
     receive-redirects disable
     send-redirects enable
     source-validation disable
     syn-cookies enable
 }
 interfaces {
     bridge br0 {
         aging 300
         hello-time 2
         max-age 20
         priority 32768
         promiscuous disable
         stp false
     }
     ethernet eth0 {
         address dhcp
         description Internet
         dhcpv6-pd {
             pd 1 {
                 interface eth1 {
                     service slaac
                 }
                 interface eth2 {
                     service slaac
                 }
                 prefix-length 8
             }
             rapid-commit enable
         }
         duplex auto
         firewall {
             in {
                 name WAN_IN
             }
             local {
                 name WAN_LOCAL
             }
             out {
                 name WAN_OUT
             }
         }
         speed auto
     }
     ethernet eth1 {
         address 192.168.1.1/24
         description Local
         duplex auto
         speed auto
     }
     ethernet eth2 {
         address 192.168.2.1/24
         description "Local 2"
         duplex auto
         speed auto
     }
     loopback lo {
     }
 }
 service {
     dhcp-server {
         disabled false
         hostfile-update disable
         shared-network-name LAN1 {
             authoritative disable
             subnet 192.168.1.0/24 {
                 default-router 192.168.1.1
                 dns-server 192.168.1.1
                 lease 86400
                 start 192.168.1.38 {
                     stop 192.168.1.243
                 }
                 static-mapping my-first-computer {
                     ip-address 192.168.1.201
                     mac-address 00:00:00:00:00:00
                 }
                 static-mapping my-second-computer {
                     ip-address 192.168.1.202
                     mac-address 00:00:00:00:00:00
                 }
                 static-mapping my-third-computer {
                     ip-address 192.168.1.203
                     mac-address 00:00:00:00:00:00
                 }
             }
         }
         shared-network-name LAN2 {
             authoritative disable
             subnet 192.168.2.0/24 {
                 default-router 192.168.2.1
                 dns-server 192.168.2.1
                 lease 86400
                 start 192.168.2.38 {
                     stop 192.168.2.243
                 }
             }
         }
     }
     dns {
         forwarding {
             cache-size 150
             listen-on eth1
             listen-on eth2
         }
     }
     gui {
         https-port 443
     }
     mdns {
         reflector
     }
     nat {
         rule 5010 {
             outbound-interface eth0
             type masquerade
         }
     }
     ssh {
         disable-password-authentication
         protocol-version v2
     }
 }
 system {
     host-name ubnt
     login {
         user ubnt {
             authentication {
                 public-keys joe@example.com {
                     key ***REDACTED***
                     type ssh-rsa
                 }
             }
             full-name ""
             level admin
         }
     }
     name-server 8.8.8.8
     name-server 8.8.4.4
     ntp {
         server 0.ubnt.pool.ntp.org {
         }
         server 1.ubnt.pool.ntp.org {
         }
         server 2.ubnt.pool.ntp.org {
         }
         server 3.ubnt.pool.ntp.org {
         }
     }
     syslog {
         global {
             facility all {
                 level notice
             }
             facility protocols {
                 level debug
             }
         }
     }
     time-zone America/Los_Angeles
 }

