# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Configuration file
# You'll want to back this up, but probably not on a public server.

config.json

# Database
# You'll want to back this up, but probably not in a public server.

seattlesnowman.db

# Log file.

seattlesnowman.log
