<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>Label</key>
        <string>local.jackpal.seattlesnowman</string>
      <key>ProgramArguments</key>
         <array>
            <!-- This is the absolute path to your Seattle Snowman install -->
            <string>/Users/jack/code/gocode/bin/SeattleSnowman</string>
         </array>
      <key>WorkingDirectory</key>
         <string>/Users/jack/code/gocode/src/github.com/jackpal/SeattleSnowman</string>
      <key>StandardErrorPath</key>
          <string>/Users/jack/code/gocode/src/github.com/jackpal/SeattleSnowman/seattlesnowman.log</string>
      <key>UserName</key>
         <string>jack</string>
      <key>RunAtLoad</key>
        <true/>
      <key>KeepAlive</key>
        <true/>
   </dict>
</plist>
